# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env


.vscode/
.idea/
*.swp
*.swo


data/*.mp4
data/*.avi
data/*.mov
results/*.mp4
results/*.avi


.DS_Store
Thumbs.db


results/*.png
results/*.jpg